* {
	margin: 0;
	padding: 0;

}

.container {
	width: 800px auto;
	margin: 30px auto;
	font-size: 18px;

}

h1 {
	margin: 50px;
}

p {
	margin-top: 20px;
	margin-left: 38px;
}

input {
	margin-right: 20px;
}

.title {
	text-align: center;
	color: #FFFFFF;
}

.submit {
	text-align: center;
}

#submit {
	background-color: rgb(216, 53, 53);
	width: 200px;
	font-size: 20px;
}

.red {
	color: red;
}
